[submodule "lib/st7789"]
	path = hardware/lib/st7789
	url = https://github.com/BennyLuca/Kicad_Components_Library.git
[submodule "lib/kbd"]
	path = hardware/lib/kbd
	url = https://github.com/foostan/kbd
[submodule "lib/MAX98357"]
	path = hardware/lib/MAX98357
	url = https://github.com/besi/kicad-adafruit-MAX98357.git
[submodule "lib/espressif"]
	path = hardware/lib/espressif
	url = https://github.com/espressif/kicad-libraries.git
[submodule "lib/sparkfun"]
	path = hardware/lib/sparkfun
	url = https://github.com/sparkfun/SparkFun-KiCad-Libraries.git
